{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    [
      "module-extension",
      {
        "mjs": "js" // update mjs refrences in required statements
      }
    ]
  ],
  "comments": true // Preserve comments, including JSDoc
}
